<div class='app-page d-flex desktop-height flex-column justify-content-between'>
  <div class="border-bottom form-view hstack justify-content-center responsive-height">
    <div class="row px-3 text-center gx-0">
      <div class="row gx-0 justify-content-around py-4">
        <div class="col-3 position-relative">
          <div class="step-icon rounded-circle p-1 mx-auto step-icon-after">
            <div class="step-text h-100 w-100 d-flex align-items-center justify-content-center rounded-circle">
              <span class="fw-bold fs-5">1</span>
            </div>
          </div>
          <div class="mt-3">
            <p class="text-white fs-14 mb-0">Download the app</p>
          </div>
        </div>
        <div class="col-3 position-relative">
          <div class="step-icon rounded-circle p-1 mx-auto step-icon-after">
            <div class="step-text h-100 w-100 d-flex align-items-center justify-content-center rounded-circle">
              <span class="fw-bold fs-5">2</span>
            </div>
          </div>
          <div class="mt-3">
            <p class="text-white fs-14 mb-0">Upload your p60</p>
          </div>
        </div>
        <div class="col-3 position-relative">
          <div class="step-icon rounded-circle p-1 mx-auto">
            <div class="step-text h-100 w-100 d-flex align-items-center justify-content-center rounded-circle">
              <span class="fw-bold fs-5">3</span>
            </div>
          </div>
          <div class="mt-3">
            <p class="text-white fs-14 mb-0">Fill in your expenses</p>
          </div>
        </div>
      </div>
      <p class="text-white fs-13">
        We will do the rest for you. Expect a call from us when your rebate is ready.
      </p>
      <p class="text-warning text-center fw-bold fs-5">
        Use referral code <span class="fw-bold text-white fs-3 vibrate d-inline-block">"TAX2022"</span> for a discounted rate and express payout
      </p>
      <div class="row gx-0 pb-4">
        <div class="col-md-6 p-2">
          <a href="https://play.google.com/store/apps/details?id=com.mytaxback" class="text-decoration-none">
            <button type="button" class="btn rounded-pill d-flex border py-2 border-2 align-items-center border-warning px-5 fs-13 text-warning mx-auto download-btn">
              <i class="fab fa-android me-2 fs-3"></i><p class="mb-0 text-start">Download It From<span class="d-block fw-bold">Google Play</span></p>
            </button>
          </a>
        </div>
        <div class="col-md-6 p-2">
          <a href="https://apps.apple.com/gb/app/tommys-tax/id983629530" class="text-decoration-none">
            <button type="button" class="btn rounded-pill d-flex border py-2 border-2 align-items-center border-warning px-5 fs-13 text-warning mx-auto download-btn">
              <i class="fab fa-apple me-2 fs-3"></i><p class="mb-0 text-start">Download It From<span class="d-block fw-bold">App Store</span></p>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>
