<p class="small mb-0 text-white text-center">
  By clicking continue, I agree to be contacted by Uktaxreclaim via phone, SMS & email in accordance with these <span class="text-decoration-none term-text text-warning cursor-pointer" data-bs-toggle="modal" data-bs-target="#termsPopup">Terms and conditions</span> and <span class="text-decoration-none privacy-text text-warning cursor-pointer" data-bs-toggle="modal" data-bs-target="#privacyPopup">Privacy Policy</span>.
</p>
