<!-- Modal -->
<div class="modal fade" id="privacyPopup" tabindex="-1" aria-labelledby="privacyPopupLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privacyPopupLabel">Welcome to the Duke Leads - FZCO Privacy Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="bg-white w-100 container">
          <div>
            <p>
              This information has been produced to help you understand everything you need to know about the way Duke Leads - FZCO collects, uses and shares personal data, what your legal rights are and how to exercise them.
            </p>
            <p>
              We hope you’ll take some time to read this document; we’ve tried to keep it all as simple as possible and to avoid jargon, and we’ll make our best efforts to keep you informed if there are any changes to the way we process your personal data in the future.
            </p>
            <p>
              Duke Leads - FZCO takes its responsibility of protecting your data very seriously and we do advise you to get to know our practices – If there’s anything here you don’t understand or if you want to ask any questions, please feel free to contact us (details are at the end).
            </p>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">Who is the Data Controller?</p>
          </div>
          <div>
            <p>
              We are Duke Leads – FZCO , trading as https://uktaxreclaim.com/ ,a UAE based company trading from Dubai
            </p>
            <div class="row">
              <div class="col-2">
                Registered address:
              </div>
              <div class="col-10">
                DSO-IFZA, Dubai Silicon Oasis, Dubai, UAE
              </div>
              <div class="col-2">
                Licence Number:
              </div>
              <div class="col-10">
                6245
              </div>
            </div>
            <p>
             In this document Duke Leads – FZCO may be referred to as “we”, “us”, or “our”.
            </p>
          </div>
          <div class="bg-light h4">
            <p class="font-weight-bold">What kinds of personal data does Duke Leads - FZCO process?</p>
          </div>
          <div>
            <p>Duke Leads - FZCO collects personal data for specific purposes; with that in mind we have created a list of the types of personal data that we may collect, either directly from yourself or from other sources, in order to achieve those purposes.</p>
            <p>
              The kinds of personal data we may collect are:
            </p>
            <table class="table table-bordered border-dark table-sm">
              <thead class="thead-light">
                <tr>
                  <th class="w-50">If you are a:</th>
                  <th>We may process these types of personal data:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Lead
                  </td>
                  <td>
                    Forename, surname, email, telephone number. Postcode IP address
                  </td>
                </tr>
                <tr>
                  <td>
                    Partners
                  </td>
                  <td>
                    Name, address, telephone, email
                  </td>
                </tr>
                <tr>
                  <td>
                  Affiliates
                  </td>
                  <td>
                  Name, address, telephone, email,
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">What are the purposes Duke Leads - FZCO collects personal data for?</p>
          </div>
          <div>
            <p>Duke Leads - FZCO uses personal data firstly to fulfil any contractual obligations that exist between us and yourself; where we request personal data be provided to enter into, or meet the terms of any such contract, you will be required to provide the relevant personal data or we will not be able to deliver the goods or services you want. In such cases the lawful basis of us processing the personal data is that it is necessary for the performance of a contract.</p>
            <p>
              We are required by law to process personal data for purposes relating to our legal obligations, these include:
            </p>
            <ul>
              <li>
                To provide for the organisations’ financial commitments, or to relevant financial authorities
              </li>
              <li>
                To carry out required business operations and due diligence (E.g. administration, reorganisations, security, investment or corporate/asset sales)
              </li>
              <li>
                To cooperate with relevant authorities for reporting criminal activity, or to detect and prevent fraud
              </li>
              <li>
                To investigate any insurance claims, claims of unfair dismissal, claims of any kind of harassment or of discrimination, or any other claim whereby the organisation may have to defend itself
              </li>
            </ul>
            <p>
              We will also process personal data to achieve our various legitimate business interests; these are purposes that have been defined by us where we have balanced the necessity on our part to process the data for each purpose against your own expectations, interests and legal rights.
            </p>
            <p>
              Our legitimate interests for processing personal data are:
            </p>
            <ul>
              <li>
                To provide goods and services where it has been requested
              </li>
              <li>
                To send notification on subjects to individuals who have asked to be kept informed (i.e. subscribers)
              </li>
            </ul>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">Where does Duke Leads - FZCO obtain personal data from?</p>
          </div>
          <div>
            <p>We will collect personal data directly from you in various ways. This could include when you complete an online form, or if you provide the data directly to a representative of Duke Leads - FZCO.</p>
            <p>
              We also gather personal data by the following methods:
            </p>
            <ul>
              <li>
                From third-party organisations provided for a specific purpose; to deliver a product or service that has been requested.
              </li>
            </ul>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">Who will Duke Leads - FZCO share your personal data with?</p>
          </div>
          <div>
            <p>In order to achieve the above stated purposes for which we process your personal data, we may have to share your personal data with some specific third-party organisations.</p>
            <p>
              We shall make all reasonable efforts to ensure that any third-party we share your personal data with is also compliant with data protection law.
            </p>
            <p>
              The third parties we may share your personal data with include:
            </p>
            <ul>
              <li>
                Third party organizations acting as either data processors or data controllers where it is necessary to provide goods or services that have been requested, or to achieve our business purposes.
              </li>
              <li>
                Third party data processors or data controllers necessary to set up various resources.
              </li>
              <li>
                Third party data processors acting as marketing agents.
              </li>
            </ul>
            <p>
              The specific types of third-party Duke Leads - FZCO may share your personal data with include:
            </p>
            <p>
              &nbsp;IT platform providers, aggregators<br>
              Duke Leads - FZCO is not responsible for the data protection compliance of any of these third parties.
            </p>
            <p>
              If we sell or reorganise our business, or if otherwise required by law or by an authorised regulator, we may transfer your personal data as a part of the general business data to the relevant parties
            </p>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">Where will Duke Leads - FZCO store your personal data?</p>
          </div>
          <div>
            <p>Duke Leads - FZCO will not transfer your personal data to any country outside the European Union (EU) other than those that have been granted an adequacy decision under the General Data Protection Regulation. We may however share your personal data with third-party organisations who then intend to transfer the data outside the EU. We shall take all reasonable measures to ensure those third parties are also compliant with data protection law.</p>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">How long will Duke Leads - FZCO keep your personal data for?</p>
          </div>
          <div>
            <p>
              We will keep your personal data only for as long as required in order to achieve the purposes for which it was collected, in line with this privacy notice.
            </p>
            <p>
              The following criteria apply that determine the period for which we will store your personal data:
            </p>
            <ul>
              <li>
                Until we are no longer required to do so in order to comply with any regulatory requirements or financial obligations that we are subject to.
              </li>
              <li>
                Until we are no longer required to do so by any law it is subject to.
              </li>
              <li>
                Until all purposes for which the data was originally gathered have become irrelevant or obsolete.
              </li>
              <li>
                We will not retain your data for longer than 6 months after your last interaction.
              </li>
            </ul>
            <p>
              Where the lawful basis of our processing is based on protection of vital interests and insofar any relevant health and safety obligations apply, Duke Leads - FZCO may retain your personal data for up to 40 years.
            </p>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">Your Rights, Our Responsibility</p>
          </div>
          <div>
            <p>There are several rights granted to you immediately upon providing us with your personal information; some of these are mentioned above. We’d like you to know that at Duke Leads - FZCO we take your rights as aNatural Person seriously and will always conduct ourselves in a way that is considerate of our responsibilityto serve your legal rights.</p>
            <h5><u>The Right of Access</u></h5>
            <p>
              This grants you the right to confirm whether or not your personal data is being processed, and to be provided with relevant details of what those processing operations are and what personal data of yours is being processed.
            </p>
            <p>
              If you would like access to the personal data we have about you, we ask that you contact us by using our details below
            </p>
            <h5><u>The Right to Rectification</u></h5>
            <p>
              This one is fairly straight forward; if you notice that the data we have about you is inaccurate or incomplete, you may request we rectify the mistake. We will make every effort to respond to requests of this type immediately
            </p>
            <h5><u>The Right to Objection</u></h5>
            <p>
              The right to object is a basic freedom all democracies enjoy. If you wish to object to the way we use, or have used, your personal data you may do so freely.
            </p>
            <h5><u>The Right to Portability</u></h5>
            <p>
              This is a legal right afforded to you that states we must pass on all of the details you have provided to us in a machine-readable format, either to your or to another provider of your choosing.
            </p>
            <h5><u>The Right to Complain</u></h5>
            <p>
              We will always try to maintain the highest standards and encourage the confidence our customers have in us as an organisation. In order that we can achieve this we do request that any complaints be first brought to our attention so we can properly investigate matters; if however you would like to complain about Duke Leads - FZCO to a supervisory authority you may do so by contacting the Information Commissioners Office on 0303 123 1113, or by visiting their website - <a href="">https://ico.org.uk/concerns</a>
            </p>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">Duke Leads - FZCO contact details:</p>
          </div>
          <div>
            <p>
              Duke Leads - FZCO<br>
              DSO – IFZA, Dubai Silicon Oasis, Dubai, UAE<br>
              data@dukeleads.com
            </p>
          </div>
          <div class="bg-light">
            <p class="font-weight-bold h4">Who is the Duke Leads - FZCO Data Protection Officer?</p>
          </div>
          <div>
            <p>
              Ametros Group Ltd<br>
              Lakeside offices, Thorn Business Park, Hereford, England, HR2 6JT<br>
              dpo@ametrosgroup.com
            </p>
          </div>
          <div>
            <p>
              This privacy policy was last reviewed and updated on 15 January of August 2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
